* {
  overflow-x: hidden;
}

body {
  font-size: 14px;
  line-height: 1.42857143;
  background: #edc7b7;
}

.center-form {
  margin-left: 50%;
}

.title-margin {
  margin-bottom: 10%;
}

.inventoryFont {
  font-size: 20px;
}

.home-btn {
  margin-top: 2%;
  margin-left: 45.2%;
  /* background-color: #edc7b7 !important;
  border: none;
  height: 20px;
  width: 160px; */
  background-color: #123c69 !important;
  border: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  outline: none !important;
  color: #fff !important;
}

h3 {
  text-align: center;
  margin-top: 10px;
  overflow: hidden;
}

h1 {
  color: #333;
  text-align: center;
  overflow: hidden;
}

.logout-button {
  margin-left: 85%;
}

.updateBtn {
  background: #123c69 !important;
  margin-right: 8%;
}

.dangerBtn {
  background: #333 !important;
}

.create-button {
  margin-left: 39%;
}

.table-background {
  background-color: #eee2dc;
  border-radius: 30px;
  padding: 1%;
  margin-top: 30px;
}

.login-center {
  display: flex !important;
  justify-content: center;
}

.table-body h3 {
  text-align: center !important;
}

.openContainer {
  display: flex;
  justify-content: center;
}

.openContainer h3 {
  justify-content: center !important;
}

.formApp {
  text-align: center;
  font-size: 18px;
  background: #123c69;
  border-radius: 5px;
  padding: 15px;
  width: 340px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    3px -4px 20px -3px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 3px -4px 20px -3px rgba(0, 0, 0, 0);
  color: #fff;
}

.formApp h2 {
  margin: 0 0 15px;
  overflow: hidden;
}

.btn {
  background: #ac3b61;
}

/* Media Queries */

/* SignUp/Login */

@media screen and (max-width: 1000px) {
  .title-margin {
    margin-bottom: 20%;
    font-size: 60px;
  }
  .home-btn {
    margin-top: 5%;
    margin-left: 295px;
  }
}
@media screen and (max-width: 1024px) {
  .title-margin {
    margin-bottom: 20%;
    font-size: 60px;
  }
}

@media screen and (max-width: 700px) {
  .title-margin {
    margin-bottom: 30%;
    font-size: 30px;
  }
  .home-btn {
    margin-top: 5%;
    margin-left: 135px;
  }
}

@media screen and (max-width: 400px) {
  .title-margin {
    margin-bottom: 30%;
    font-size: 30px;
  }
  .home-btn {
    margin-top: 4%;
    margin-left: 117px;
  }
}

/* Table and Index */

@media screen and (max-width: 400px) {
  .logout-button {
    margin-left: 75%;
  }

  /* .table-background {
    margin-left: -1%;
  } */

  .title-margin {
    margin-bottom: 18%;
    font-size: 30px;
  }

  .updateBtn {
    margin-bottom: 3%;
    width: 70px;
    text-align: center;
  }
  .modal-btn {
    margin-left: 24%;
  }
}

@media screen and (max-width: 400px) {
  .logout-button {
    margin-left: 75%;
  }

  .title-margin {
    margin-bottom: 18%;
    font-size: 30px;
  }

  /* .table-background {
    margin-left: 2%;
  } */
  .updateBtn {
    margin-bottom: 3%;
    width: 70px;
    text-align: center;
  }
  .modal-btn {
    margin-left: 24%;
  }
}
@media screen and (max-width: 700px) {
  .logout-button {
    margin-left: 75%;
  }
  .title-margin {
    margin-bottom: 18%;
    font-size: 25px;
  }
  .updateBtn {
    margin-bottom: 3%;
    width: 70px;
  }
  .modal-btn {
    margin-left: 24%;
  }
}
@media screen and (max-width: 1000px) {
  .logout-button {
    margin-left: 75%;
  }

  /* .table-background {
    margin-left: 0.5%;
  } */
  .title-margin {
    margin-bottom: 18%;
    font-size: 50px;
  }
  .updateBtn {
    margin-bottom: 3%;
    width: 70px;
  }
  .modal-btn {
    margin-left: 24%;
  }

  .create-button {
    margin-left: 45%;
    margin-bottom: 3%;
  }
}
@media screen and (max-width: 1025px) {
  /* .table-background {
    margin-left: 3%; */
}
